{{>mate/layouts/header}}
{{#mate}}
    <form class="container" action="/mate/update" method="post">
        <input type="hidden" name="id" value="{{id}}"> <!-- 기존 Mate의 ID -->
        <div class="mb-3">
            <label class="form-label"> </label>
            <input class="form-control" name="title" value={{title}}>
        </div>
        <div class="mb-3">
            <label class="form-label"> </label>
            <textarea class="form-control" name="content">{{content}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label"> </label>
            <textarea class="form-control" name="category">{{category}}</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label"> </label>
            <textarea class="form-control" name="date">{{date}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/mate/{{id}}" class="btn btn-primary">Back</a>
    </form>
{{/mate}}
{{>mate/layouts/footer}}