{{>mate/layouts/header}}
<br>
<form class="container" action="/mate/create" method="post">
    <div class="mb-3">       <!--Set margin bottom to 3-->
        <label class="form-label">제목</label>
        <textarea class="form-control" name="title">Merry Christmas!</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" name="content">크리스마스</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">카테고리</label>
        <textarea class="form-control" name="category">기념일/과제/시험</textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">날짜</label>
        <textarea class="form-control" name="date">2024-12-25</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{>mate/layouts/footer}}