<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Dday</title>
    <style>
        /* 네비게이션 바 텍스트 중앙 정렬 */
        .navbar-center {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        /* 네비게이션 바 높이 유지 */
        .navbar {
            min-height: 60px; /* 네비게이션 바 최소 높이 설정 */
            padding: 10px 0; /* 위아래 여백 추가 */
        }
    </style>
</head>
<body>

<!-- Navigation Bar -->
<style>
    .navbar-custom {
        background-color: #c8d1d9; /* slightly lighter than #6c757d */
    }
</style>

<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <span class="navbar-brand navbar-center">Dday List</span>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXlUCBXsB1Gab7gL6pGFl5KpJA4r9p7r6fSa3SYbNi3Rsjw3mg2ntbSl0z+B"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhG81Kr3A7jULA8hPQoyf4p+GIU8aw5GDA1rkSMJQ0QjTxCPmYZxuZB6CFM" crossorigin="anonymous"></script>
</body>
</html>
