{{>layouts/header}}

<table class="table">
    <thead>
    <th scope="col">Id</th><th scope="col">Title</th><th scope="col">Content</th><th scope="col">Category</th><th scope="col">isCompleted</th>
    </thead>
    <tbody>
    {{#plannerList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/planner/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{category}}</td>
            <td>{{isCompleted}}</td>
        </tr>
    {{/plannerList}}
    </tbody>

</table>
<a href="/planner/new">새 항목 추가</a>

{{#msg}}
    {{msg}}
{{/msg}}

{{>layouts/footer}}