{{> timecapsule/layouts/header}}

<table>
    <tbody>
    {{#upcomingCapsules}}
        <tr>
            <td>{{category}}</td>
            <td>{{content}}</td>
            <td>{{alertDate}}</td>
        </tr>
    {{/upcomingCapsules}}
    </tbody>
</table>

{{> timecapsule/layouts/footer}}
